# Import data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path string to variable
path = r'D:\Docs\Career Foundry\II. Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Alina Racu'

In [5]:
# Import file
df_ords_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.6 orders_combined.pkl'))

In [6]:
# Import file
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.6 products_checked.csv'), index_col = False)

# Check dataframes

## df_ords_merged

In [7]:
# Check
df_ords_merged.shape

(10000000, 10)

In [8]:
# Check
df_ords_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,473747,1,3,3,12,21.0,196,1,1,both
1,473747,1,3,3,12,21.0,12427,2,1,both
2,473747,1,3,3,12,21.0,10258,3,1,both
3,473747,1,3,3,12,21.0,25133,4,0,both
4,473747,1,3,3,12,21.0,30450,5,0,both

In [9]:
# Drop column "_merge"
df_ords_merged_new = df_ords_merged.drop(columns = ["_merge"])

In [10]:
# Check
df_ords_merged_new.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,473747,1,3,3,12,21.0,196,1,1
1,473747,1,3,3,12,21.0,12427,2,1
2,473747,1,3,3,12,21.0,10258,3,1
3,473747,1,3,3,12,21.0,25133,4,0
4,473747,1,3,3,12,21.0,30450,5,0

In [15]:
# Check
df_ords_merged_new.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
product_id                 object
add_to_cart_order           int64
reordered                   int64
dtype: object

## df_prods

In [11]:
# Check
df_prods.shape

(49672, 6)

In [12]:
# Check df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [13]:
# Delete the extra index column
df_prods = df_prods.drop(columns = ["Unnamed: 0"])

In [14]:
# Check
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Check
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [17]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_prods["product_id"] = df_prods["product_id"].astype("str")

In [18]:
# Check
df_prods.dtypes

product_id        object
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

# Merge dataframes

In [28]:
# Merge "df_ords_merged_new" with "df_prods", inner join (default)
df_ords_prods_merged = df_ords_merged_new.merge(df_prods, on = 'product_id', indicator = True)

In [29]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both

In [30]:
# Check
df_ords_prods_merged.shape

(9990906, 14)

In [31]:
# Check
df_ords_prods_merged['_merge'].value_counts()

both          9990906
left_only           0
right_only          0
Name: _merge, dtype: int64

# Export data

In [ ]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.6 orders_products_combined.pkl'))