# Import data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path string to variable
path = r'D:\Docs\Career Foundry\II. Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Alina Racu'

In [3]:
# Import file
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.5 orders_checked.csv'), index_col = False)

In [4]:
# Import file
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '4.5 products_checked.csv'), index_col = False)

In [5]:
# Import file
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

# Check dataframes

## df_ords

In [6]:
# Check
df_ords.head()

,Unnamed: 0,Unnamed: 0.1,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,NaN
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [7]:
# Delete the extra index colum
df_ords = df_ords.drop(columns = ["Unnamed: 0", "Unnamed: 0.1"])

In [8]:
# Check
df_ords.head(5)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [9]:
# Check
df_ords.shape

(3421083, 6)

In [10]:
# Check
df_ords.dtypes

order_id                    int64
user_id                     int64
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [11]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_ords["order_id"] = df_ords["order_id"].astype("str")

In [12]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_ords["user_id"] = df_ords["user_id"].astype("str")

In [13]:
# Check
df_ords.dtypes

order_id                   object
user_id                    object
order_number                int64
order_day_of_week           int64
order_hour_of_day           int64
days_since_prior_order    float64
dtype: object

In [14]:
# Check
df_ords.describe()

,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

## df_prods

In [15]:
# Check
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
# Delete the extra index colum
df_prods = df_prods.drop(columns = ["Unnamed: 0"])

In [17]:
# Check
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
# Check
df_prods.shape

(49672, 5)

In [19]:
# Check
df_prods.dtypes

product_id         int64
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [20]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_prods["product_id"] = df_prods["product_id"].astype("str")

In [21]:
# Check
df_prods.dtypes

product_id        object
product_name      object
aisle_id           int64
department_id      int64
prices           float64
dtype: object

In [22]:
# Check
df_prods.describe()

           aisle_id  department_id        prices
count  49672.000000   49672.000000  49672.000000
mean      67.762442      11.728942      9.993282
std       38.315784       5.850779    453.615536
min        1.000000       1.000000      1.000000
25%       35.000000       7.000000      4.100000
50%       69.000000      13.000000      7.100000
75%      100.000000      17.000000     11.100000
max      134.000000      21.000000  99999.000000

## df_ords_prior

In [23]:
# Check
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [24]:
# Check
df_ords_prior.shape

(32434489, 4)

In [25]:
# Check
df_ords_prior.dtypes

order_id             int64
product_id           int64
add_to_cart_order    int64
reordered            int64
dtype: object

In [26]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_ords_prior["order_id"] = df_ords_prior["order_id"].astype("str")

In [27]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
df_ords_prior["product_id"] = df_ords_prior["product_id"].astype("str")

In [28]:
# Check
df_ords_prior.dtypes

order_id             object
product_id           object
add_to_cart_order     int64
reordered             int64
dtype: object

In [29]:
# Check
df_ords_prior.describe()

       add_to_cart_order     reordered
count       3.243449e+07  3.243449e+07
mean        8.351076e+00  5.896975e-01
std         7.126671e+00  4.918886e-01
min         1.000000e+00  0.000000e+00
25%         3.000000e+00  0.000000e+00
50%         6.000000e+00  1.000000e+00
75%         1.100000e+01  1.000000e+00
max         1.450000e+02  1.000000e+00

# Merge dataframes

In [30]:
# Create subset with 10 mln rows of the original "df_ords_prior" due to lack of computing power
df_ords_prior_small = df_ords_prior.iloc[0:10000000]

In [31]:
# Merge "df_ords" with "df_ords_prior", inner join (default)
df_ords_merged = df_ords.merge(df_ords_prior_small, on = 'order_id', indicator = True)

In [32]:
# Check
df_ords_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,473747,1,3,3,12,21.0,196,1,1,both
1,473747,1,3,3,12,21.0,12427,2,1,both
2,473747,1,3,3,12,21.0,10258,3,1,both
3,473747,1,3,3,12,21.0,25133,4,0,both
4,473747,1,3,3,12,21.0,30450,5,0,both

In [33]:
df_ords_merged.shape

(10000000, 10)

# Export data to .csv

In [34]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', '4.6 orders_checked.csv'))

In [35]:
df_prods.to_csv(os.path.join(path, '02 Data','Prepared Data', '4.6 products_checked.csv'))

In [36]:
df_ords_prior.to_csv(os.path.join(path, '02 Data','Prepared Data', '4.6 orders_prior_checked.csv'))

# Export data to .pkl

In [38]:
df_ords_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.6 orders_combined.pkl'))