# Import data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path string to variable
path = r'D:\Docs\Career Foundry\II. Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Alina Racu'

In [3]:
# Import file
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.7 orders_products_merged_variables.pkl'))

# Grouping data

In [4]:
# Create subset
df = df_ords_prods_merged[:1000000]

In [5]:
# Check
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders

In [6]:
# Check
df.shape

(1000000, 18)

In [7]:
df.groupby('product_name')

In [8]:
# The output of the groupby() function is not visible, use this function as part of a series of steps

# Aggregating data with agg() - single aggregation

In [9]:
# Calculate the mean of the "order_number" column grouped by the "department_id" column
# Step 1: Split the data into groups based on "department_id"
# Step 2: Apply the agg() function to each group to obtain the mean values for the "order_number" column
 
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                16.219468
3                14.004000
4                18.508363
5                 6.000000
6                16.933273
7                17.313949
9                12.664267
12               16.603279
13               17.374624
14               19.132253
15               16.983641
16               17.594625
17               18.338768
19               18.791378
20               17.535862

In [10]:
# Alternative using the mean() function
df.groupby('department_id')['order_number'].mean()

department_id
1     16.219468
3     14.004000
4     18.508363
5      6.000000
6     16.933273
7     17.313949
9     12.664267
12    16.603279
13    17.374624
14    19.132253
15    16.983641
16    17.594625
17    18.338768
19    18.791378
20    17.535862
Name: order_number, dtype: float64

In [11]:
# Alternative using the mean() function without brackets
df.groupby('department_id').order_number.mean()

department_id
1     16.219468
3     14.004000
4     18.508363
5      6.000000
6     16.933273
7     17.313949
9     12.664267
12    16.603279
13    17.374624
14    19.132253
15    16.983641
16    17.594625
17    18.338768
19    18.791378
20    17.535862
Name: order_number, dtype: float64

# Aggregating data with agg() - multiple aggregation

In [12]:
# # Calculate the mean, min and max of the "order_number" column grouped by the "department_id" column
df.groupby("department_id").agg({"order_number": ["mean", "min", "max"]})

              order_number
                      mean min max
department_id
1                16.219468   1  99
3                14.004000   1  92
4                18.508363   1  99
5                 6.000000   1  17
6                16.933273   1  90
7                17.313949   1  99
9                12.664267   1  99
12               16.603279   1  98
13               17.374624   1  99
14               19.132253   1  99
15               16.983641   1  99
16               17.594625   1  99
17               18.338768   1  99
19               18.791378   1  99
20               17.535862   1  99

# Aggregating data with transform()

In [13]:
# Create a customer loyalty flag column
# Step 1: Use the transform() function to create a new column containing the maximum frequency of the "order_number" column

In [14]:
# Create a new column, "max_order" into which to place the results of the aggregation
# Group data in df by "user_id" column
# Transform the "order_number" column by applying the max() function from the NumPy library 
df_ords_prods_merged["max_order"] = df_ords_prods_merged.groupby(["user_id"])["order_number"].transform(np.max)

In [15]:
# Check
df_ords_prods_merged.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,260155,2085,9,3,16,20.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,9
96,575626,2128,2,4,15,6.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,5
97,687217,2139,4,0,9,30.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,4
98,889260,2253,16,5,10,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,33
99,535419,2253,19,4,15,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,33

In [16]:
# Tell pandas not to assign any options regarding the maximum number of rows to display (show all 100 rows from previous cell)
pd.options.display.max_rows = None

In [17]:
# Check
df_ords_prods_merged.head(100)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9
5,580568,52,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,24
6,342306,52,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,24
7,944694,52,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,24
8,180919,52,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,24
9,970922,67,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
10,596585,67,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,551869,67,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
12,768572,67,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,22
13,150528,67,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,22
14,29758,67,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,22
15,863974,67,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
16,499460,82,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,18
17,343588,82,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,18
18,147262,82,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,18
19,681011,98,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,12
20,747431,98,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,12
21,520620,120,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,2
22,276171,195,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,57
23,417035,195,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,57
24,745908,195,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,57
25,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,20
26,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,20
27,668870,591,2,1,13,7.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,4
28,981587,626,12,1,9,4.0,196,8,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,94
29,716308,626,20,3,12,5.0,196,13,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,94
30,325835,626,85,1,17,1.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,94
31,490788,642,2,2,10,4.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,4
32,46887,676,6,0,11,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,10
33,443065,676,10,5,18,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
34,296844,680,5,5,19,5.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,5
35,962470,691,14,6,15,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,22
36,147387,709,4,0,21,8.0,196,33,0,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,4
37,231498,793,1,1,10,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,5
38,657712,793,2,2,12,22.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,5
39,79610,793,5,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,5
40,212048,992,9,0,13,9.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,21
41,681310,992,10,5,13,26.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,21
42,58766,992,11,5,13,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,21
43,88614,992,16,6,13,22.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,21
44,394447,1031,2,4,15,30.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,8
45,689328,1126,3,0,10,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,10
46,566383,1126,8,5,16,30.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
47,745438,1126,10,6,15,30.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
48,289494,1137,11,6,11,0.0,196,32,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,12
49,147278,1137,12,0,13,22.0,196,9,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,12
50,1038588,1219,16,1,11,0.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,23
51,827240,1219,19,1,11,6.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,23
52,305666,1219,21,5,11,4.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,23
53,512991,1256,1,1,10,NaN,196,11,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,5
54,402693,1306,6,6,10,8.0,196,17,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,6
55,61993,1344,14,4,10,28.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,22
56,901526,1408,18,1,10,10.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,23
57,1003286,1408,23,2,13,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,23
58,378558,1434,1,6,19,NaN,196,7,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,6
59,512880,1438,3,5,9,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,47
60,787101,1438,8,5,10,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,47
61,732706,1438,11,5,9,7.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,47
62,352791,1438,21,5,9,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,47
63,958253,1438,22,4,15,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,47
64,105499,1438,33,1,13,17.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,47
65,92899,1469,3,4,13,8.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,3
66,319475,1480,2,2,12,6.0,196,8,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,42
67,194732,1480,16,4,11,7.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,42
68,316947,1540,1,1,20,NaN,196,11,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,28
69,783503,1540,21,0,20,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,28
70,665207,1542,10,4,15,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,48
71,387688,1550,5,3,15,2.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,13
72,756740,1550,13,5,14,30.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,13
73,726947,1598,3,4,17,2.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,3
74,467918,1613,15,6,13,14.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,15
75,1020683,1680,27,5,10,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,37
76,486609,1680,36,3,18,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,37
77,112979,1680,37,5,14,23.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,37
78,231329,1723,2,1,9,30.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,3
79,835467,1726,2,5,18,17.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7
80,600015,1755,3,1,16,4.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,21
81,83211,1774,2,2,19,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,5
82,411022,1774,3,0,23,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
83,134686,1774,5,1,20,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,5
84,814433,1776,37,5,10,7.0,196,6,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,82
85,952725,1776,41,5,16,9.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,82
86,328145,1821,5,2,18,6.0,196,17,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,5
87,796675,2050,2,0,14,17.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,7
88,402193,2050,3,6,7,27.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,7
89,464724,2050,7,0,11,18.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Most orders,7
90,467519,2057,1,1,9,NaN,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,35
91,1034725,2057,10,1,16,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,35
92,588260,2057,32,2,9,7.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,35
93,44909,2085,1,1,13,NaN,196,3,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,9
94,493110,2085,3,0,17,30.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,9
95,260155,2085,9,3,16,20.0,196,5,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,9
96,575626,2128,2,4,15,6.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,5
97,687217,2139,4,0,9,30.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest day,Busiest days,Average orders,4
98,889260,2253,16,5,10,0.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,33
99,535419,2253,19,4,15,7.0,196,3,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,33

# Deriving columns with loc()

In [18]:
# Create a customer loyalty flag column
# Step 2: Use the loc() function to create a second column containing a flag designating whether a customer is "loyal" or not

In [19]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [20]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [21]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [22]:
# Count values in column "loyalty_flag"
df_ords_prods_merged["loyalty_flag"].value_counts(dropna = False)

Regular customer    4719480
Loyal customer      2960923
New customer        2310503
Name: loyalty_flag, dtype: int64

In [23]:
# Check 1 column: df["column"]
# Check multiple columns:
df_ords_prods_merged[["user_id", "loyalty_flag", "order_number"]].head(60)

   user_id      loyalty_flag  order_number
0        1      New customer             3
1        1      New customer             5
2        1      New customer             7
3       15  Regular customer            22
4       19      New customer             7
5       52  Regular customer             5
6       52  Regular customer             9
7       52  Regular customer            12
8       52  Regular customer            19
9       67  Regular customer             2
10      67  Regular customer             3
11      67  Regular customer            14
12      67  Regular customer            16
13      67  Regular customer            18
14      67  Regular customer            19
15      67  Regular customer            22
16      82  Regular customer             3
17      82  Regular customer            10
18      82  Regular customer            18
19      98  Regular customer             9
20      98  Regular customer            12
21     120      New customer             1
22     195    Loyal customer            19
23     195    Loyal customer            40
24     195    Loyal customer            57
25     420  Regular customer             4
26     420  Regular customer             5
27     591      New customer             2
28     626    Loyal customer            12
29     626    Loyal customer            20
30     626    Loyal customer            85
31     642      New customer             2
32     676      New customer             6
33     676      New customer            10
34     680      New customer             5
35     691  Regular customer            14
36     709      New customer             4
37     793      New customer             1
38     793      New customer             2
39     793      New customer             5
40     992  Regular customer             9
41     992  Regular customer            10
42     992  Regular customer            11
43     992  Regular customer            16
44    1031      New customer             2
45    1126      New customer             3
46    1126      New customer             8
47    1126      New customer            10
48    1137  Regular customer            11
49    1137  Regular customer            12
50    1219  Regular customer            16
51    1219  Regular customer            19
52    1219  Regular customer            21
53    1256      New customer             1
54    1306      New customer             6
55    1344  Regular customer            14
56    1408  Regular customer            18
57    1408  Regular customer            23
58    1434      New customer             1
59    1438    Loyal customer             3

In [24]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7,New customer
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer