# Import data

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path string to variable
path = r'D:\Docs\Career Foundry\II. Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Alina Racu'

In [3]:
# Import file
customers = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

In [4]:
# Import file
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.8 orders_products_merged_variables.pkl'))

# Data consistency checks

In [5]:
# Check
customers.shape

(206209, 10)

In [6]:
# Check
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
# Rename column
customers.rename(columns = {"First Name" : "first_name", "Surnam" : "surname", "Gender" : "gender", "STATE" : "state", "Age" : "age"}, inplace = True)

In [8]:
# Check
customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [9]:
# Check
customers.dtypes

user_id          int64
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [10]:
# Change data type from numeric to string, e.g. to avoid being included when running describe()
customers["user_id"] = customers["user_id"].astype("str")

In [11]:
# Check
customers.dtypes

user_id         object
first_name      object
surname         object
gender          object
state           object
age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

In [12]:
# Check stats
customers.describe()

                 age   n_dependants         income
count  206209.000000  206209.000000  206209.000000
mean       49.501646       1.499823   94632.852548
std        18.480962       1.118433   42473.786988
min        18.000000       0.000000   25903.000000
25%        33.000000       0.000000   59874.000000
50%        49.000000       1.000000   93547.000000
75%        66.000000       3.000000  124244.000000
max        81.000000       3.000000  593901.000000

In [13]:
# Identify missing observations and sum them up
customers.isnull().sum()

user_id             0
first_name      11259
surname             0
gender              0
state               0
age                 0
date_joined         0
n_dependants        0
fam_status          0
income              0
dtype: int64

In [14]:
# Remove "first_name" and "surname" columns as they are not essential and have missing values
# Also this will keep user identities hidden
customers_new = customers.drop(columns = ["first_name", "surname"])

In [15]:
# Check
customers_new.head()

,user_id,gender,state,age,date_joined,n_dependants,fam_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

In [16]:
# Check for full duplicates
customers_dups = customers_new[customers_new.duplicated()]

In [17]:
# Check
customers_dups

Empty DataFrame
Columns: [user_id, gender, state, age, date_joined, n_dependants, fam_status, income]
Index: []

There are no duplicates

In [18]:
# Check for mixed-type columns
for col in customers_new.columns.tolist():
  weird = (customers_new[[col]].applymap(type) != customers_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers_new[weird]) > 0:
    print (col)

There are no mixed-type columns

# Combine dataframes

In [19]:
# Check
df_ords_prods_merged.shape

(9990906, 24)

In [20]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order,order_frequency_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
1,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
2,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
3,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.912500,Low spender,14.0,Regular customer
4,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.906349,Low spender,6.0,Frequent customer

In [21]:
# Show all columns
pd.options.display.max_columns = None

In [22]:
# Check
df_ords_prods_merged.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order,order_frequency_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer

In [23]:
# Delete "_merge" column
df_ords_prods_merged = df_ords_prods_merged.drop(columns = ["_merge"])

In [24]:
# Check
df_ords_prods_merged.head(1)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order,order_frequency_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer

In [25]:
# Merge "df_ords_prods_merged" and "customers_new" using "customer_id" as key
df_ords_prods_cust_merged = df_ords_prods_merged.merge(customers_new, on = ["user_id"], indicator = True)

In [28]:
# Check
df_ords_prods_cust_merged.shape

(9990906, 31)

In [30]:
# Check
df_ords_prods_cust_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order,order_frequency_flag,gender,state,age,date_joined,n_dependants,fam_status,income,_merge
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
3,473747,1,3,3,12,21.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both
4,431534,1,5,4,15,28.0,12427,2,1,Original Beef Jerky,23,19,4.4,Low-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,both

# Export data

In [32]:
df_ords_prods_cust_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.9 ords_prods_cust_merged.pkl'))